html{
    font-size: 100%;
}

.about{
    background-color: #eeeeee;
}

.photo-main {
    height: 110vh;
    background-image:linear-gradient(to right bottom, #feffb384, #ffef7497) , url(../../assets/P7032006.JPG);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    position: relative;
  }

  .text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-main-text{
    color: #343a40;
    text-transform: uppercase;
}

.about-text{
    display: block;
    font-size: 5.3rem;
    font-weight: 400;
    letter-spacing: 2.2rem;
}

.about-subtext{
    display: block;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .8rem;
    margin-top: 1.25rem;
}

.about-second-text{
    height: 110vh;
    position: relative;
}

.about-second-maintext{
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 5.3rem;
    font-weight: 100;
    color: #343a40;
    text-transform: uppercase;
}

.about-second-subtext{
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .3rem;
    display: block;
    font-size: 1.25rem;
    font-weight: 70;
    color: #343a40;
    text-transform: uppercase;
}

.photo-third{
    height: 110vh;
    background-image:linear-gradient(to right bottom, #93ffa963, #56d3696d) , url(../../assets/20190511_185110.jpg);
    background-size: cover;
    clip-path: polygon(0 20vh, 100% 0, 100% 90vh, 0 100%);
    position: relative;
}

.about-third-maintext{
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 5.3rem;
    font-weight: 100;
    color: #343a40;
    text-transform: uppercase;
}

.about-third-box{
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .3rem;
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    grid-column-gap: 0.5rem;
    font-size: 1.25rem;
    font-weight: 70;
    color: #343a40;
    text-transform: uppercase;
    
}

.about-doing-text{
    background-color: rgba(255, 255, 255, 0.741);
}

.about-fourth-text{
    height: 110vh;
    position: relative;
}

.about-fourth-maintext{
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 5.3rem;
    font-weight: 100;
    color: #343a40;
    text-transform: uppercase;
}

.about-fourth-subtext{
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .3rem;
    display: block;
    font-size: 1.25rem;
    font-weight: 50;
    color: #343a40;
    text-transform: uppercase;
}

.about-footer{
    height: 20vh;
    position: relative;
    background-color: #343a40;
}

.about-footer-text{
    color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}