html{
    font-size: 100%}
    @media only screen and (max-width: 75em) {
        html {
          font-size: 90%; } }
      @media only screen and (max-width: 56.25em) {
        html {
          font-size: 80%; } }
          @media only screen and (max-width: 37.5em) {
            html {
              font-size: 60%; } } 
              @media only screen and (max-width: 21.75em) {
                html {
                  font-size: 55%; } }   
      @media only screen and (min-width: 112.5em) {
        html {
          font-size: 120%; } 
          .products{
            background-color: #eeeeee;
        }
}



.product-one{
    display: inline-block;
    background-color:#343a40;
    color: #eeeeee;
    height: 80vh;
    width: 150vh;
    text-transform: uppercase;
}

.product-one-img{
    height: 70vh;
    top: 15%;
    left: 50%;
    position: absolute;
    transform: translate(-75%);
}

.product-two{
    display: inline-block;
    background-color:#343a40;
    color: #eeeeee;
    height: 80vh;
    width: 150vh;
    text-transform: uppercase;
    position: relative;
    transform: translate(0%, 10%);
}

.product-two-img{
    height: 70vh;
    top: 15%;
    left: 50%;
    position: absolute;
    transform: translate(-75%, -10%);
}

.product-three{
  display: inline-block;
    background-color:#343a40;
    color: #eeeeee;
    height: 80vh;
    width: 150vh;
    text-transform: uppercase;
    position: relative;
    transform: translate(0%, 20%);
}

.product-three-img{
    height: 70vh;
    top: 15%;
    left: 50%;
    position: absolute;
    transform: translate(-105%, -10%);
}