.reference-one{
    display: inline-block;
    width: 75%;
    background-color:#343a40;
    border-radius: 5px white;
    /* clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%); */
}

.reference-one-form{
    float: left;
}

.name-one{
    color: white;
}

.title-one{
    color: white;
}

.reference-txt-one{
    color: white;
    display: block;
    transform: translate(25%);
    width: 70%;
}

.reference-two{
    display: inline-block;
    width: 75%;
    background-color:#343a40;
    margin-top: 1%;
    /* clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%); */
}

.reference-two-form{
    float: right;
}


.name-two{
    color: white;
}

.title-two{
    color: white;
}

.reference-txt-two{
    color: white;
    display: block;
    transform: translate(20%);
    width: 60%;
}

.reference-three{
    display: inline-block;
    width: 75%;
    background-color:#343a40;
    margin-top: 1%;
    /* clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%); */
}

.reference-three-form{
    float: left;
}

.reference-txt-three{
    color: white;
    display: block;
    transform: translate(25%);
    width: 70%;
}

.name-three{
    color: white;
}

.title-three{
    color: white;
}