.reference-one{
    display: inline-block;
    width: 75%;
    background-color:#343a40;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    border: 5px solid red;
}

.reference-one-form{
    float: left;
    transform: translate(65%);
}

.name-one{
    color: white;
}

.title-one{
    color: white;
}

.reference-txt-one{
    color: white;
    display: block;
    transform: translate(35%);
    width: 65%;
}

.reference-two{
    display: inline-block;
    width: 75%;
    background-color:#343a40;
    margin-top: 1%;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    border: 5px solid red;
}

.reference-two-form{
    float: left;
    transform: translate(65%);
}


.name-two{
    color: white;
}

.title-two{
    color: white;
}

.reference-txt-two{
    color: white;
    display: block;
    transform: translate(35%);
    width: 65%;
}

.reference-three{
    display: inline-block;
    width: 75%;
    background-color:#343a40;
    margin-top: 1%;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    border: 5px solid red;
}

.reference-three-form{
    float: left;
    transform: translate(65%);
}

.reference-txt-three{
    color: white;
    display: block;
    transform: translate(35%);
    width: 65%;
}

.name-three{
    color: white;
}

.title-three{
    color: white;
}